<html>
{% load static %}
 <head>
   <link rel="stylesheet" type="text/css" href={% static "style/style.css" %}>
   <script type="text/javascript" src="{% static "script/script.js" %}"></script>
   <link rel="shortcut icon" href={% static "images/logo2.png" %} type="image/x-icon">
 </head>

 <body>
   <a href="/"><img id="logo" src="{% static 'images/logo.png' %}"></img></a>

   <center>
    <form class="convert_form" method="post">
      {% csrf_token %}
      {{ form }}
      <input id="button" type="submit" value="Ок">
    </form>

    {% if err %}
      <h1 id="err">{{ err }}</h1>
    {% endif %}

    {% if tmp %}
      <div id="answer_div">
        <h4 style="color:white; margin-bottom:0;">Кликните, чтобы скопировать</h4><br/>
        <input id="ans" readonly="readonly" type="text" onclick="copytext()" value={{ tmp }}><br/>
        <!--<button id="copy_but" onclick="myFunction()">Скопировать</button><br/>-->
        <!--<iframe src="{{ tmp }}" width="40%" height="20%"></iframe>-->
        <h1 id="tip" style="opacity:0;">Скопировано!</h1>
      </div>
    {% endif %}

   </center>

 </body>

</html>
